@font-face { font-family: mediumEmber; src: url('fontfamily/Ember/Amazon-Ember-Medium.ttf')} 

@font-face { font-family: mediumitaticEmber; src: url('fontfamily/Ember/Amazon-Ember-MediumItalic.ttf')} 
@font-face { font-family: boldEmber; src: url('fontfamily/Ember/AmazonEmber_Bd.ttf')} 
@font-face { font-family: bolditalicEmber; src: url('fontfamily/Ember/AmazonEmber_BdIt.ttf')} 
@font-face { font-family: lightEmber; src: url('fontfamily/Ember/AmazonEmber_Lt.ttf')} 
@font-face { font-family: regularEmber; src: url('fontfamily/Ember/AmazonEmber_Rg.ttf')} 
@font-face { font-family: thinEmber; src: url('fontfamily/Ember/AmazonEmber_Th.ttf')} 
@font-face { font-family: thinitalicEmber; src: url('fontfamily/Ember/AmazonEmber_ThIt.ttf')}                